header{
    margin-top: 0;
}

header .container{
    position: relative;
}

header .row{
    align-items: center;
}

header .row .height_col{
    height: 350px;
}

header .row h5{
    color: var(--main-color);
    font-weight: 900;
}

header .row h2{
    color: var(--color-heavy);
    font-weight: 900;
    font-size: 50px;
}

header .row button{
    color: white !important;
    border: none;
    outline: none;
    background-color: var(--orange-color);
    width: 170px;
    height: 70px;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(241, 119, 50, .3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

header .row button:hover{
    background-color: var(--hover-btn-color);
    border: 1px solid var(--border-color);
}

header .row button a{
    color: white !important;
    font-size: 20px;
    font-weight: 700;
}

header .row .img_bg_one{
    width: 100%;
    height: auto;
}

header .row .img_bg_one .imgOne{
    width: 100%;
    height: 100%;
    animation: mover 2s infinite alternate;
}

.subscriber{
    position: absolute;
    top: 0;
    z-index: -5;
    animation: mover 2s infinite alternate;
}

img.img_inm1 {
    right: 15%;
    top: 12%;
}

img.img_inm2 {
    left: 1%;
    top: 50%;
}

img.img_inm3 {
    left: 20%;
    top: 20%;
}

img.img_inm4 {
    right: 40%;
    top: 70%;
}

img.img_inm5 {
    right: 40%;
    top: 26%;
}

@keyframes mover{
    0%{
        transform: translateY(0);
    }
    100%{
       transform: translateY(-20px);
    }
}

@media screen and (max-width: 767px) and (min-width: 230px){
    header .row h2{
        font-size: 40px;
    }
    .subscriber{
        display: none;
    }
}
@media screen and (max-width: 575px) and (min-width: 230px){
    header .row .height_col{
        height: auto;
        margin-bottom: 1%;
    }
}