.social-icons {
    display: flex;
    gap: 5px;
}

.icon {
    font-size: 30px;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.2);
}

/* الألوان الخاصة بكل أيقونة */
.facebook {
    color: #4267B2;
}

.twitter {
    color: #1DA1F2;
}

.instagram {
    color: #C13584;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linkedin {
    color: #0077B5;
}