body {
  margin: 0;
  padding: 0;
  font-family: "Tajawal", sans-serif !important;
  background-color: white !important;
}
.tajawal_extralight {
  font-family: "Tajawal", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.tajawal_light {
  font-family: "Tajawal", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.tajawal_regular {
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tajawal_medium {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.tajawal_bold {
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.tajawal_extrabold {
  font-family: "Tajawal", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.tajawal_black {
  font-family: "Tajawal", sans-serif;
  font-weight: 900;
  font-style: normal;
}
html{
  scroll-behavior: smooth;
}
:root{
  --main-color: #5a5b9c;
  --btn-color: #565acf;
  --color-heavy: #1f2278;
  --hover-btn-color:#f49762;
  --border-color:#f49762;
  --orange-color: #f17732;
}
section ,
footer ,
header{
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 100%;
  padding: 25px 0px;
  margin-top: 50px;
}
a{
  text-decoration: none !important;
}
span{
  display: block;
}
ul{
  margin: 0 !important;
  padding: 0 !important;
}
li{
  list-style-type: none;
}
button{
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  border-radius: 4px;
  border: none;
  background: none;
}
p{
  line-height: 20px;
}
input{
  box-sizing: border-box;
  border: 1px solid white;
  text-align: left;
  padding: 5px 15px;
  color: #333;
  font-size: 17px;
}

.section-sp1 {
  padding-top: 100px;
  padding-bottom: 70px;
}